*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Clase2/AprendiendoJDBC/nbproject/private/
/Clase2/AprendiendoJDBC/build/
/Clase3/AprendiendoMyBatis/nbproject/private/
/Clase3/AprendiendoMyBatis/build/
/Clase3/AprendiendoMyBatis/dist/