<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.egcc.mybatis.espec.EmpleadoMapper">
  
  <!-- Campos de la tabla empleado -->
  <sql id="campos_empleado">
    chr_emplcodigo codigo,
    vch_emplpaterno paterno,
    vch_emplmaterno materno,
    vch_emplnombre nombre,
    vch_emplciudad ciudad,
    vch_empldireccion direccion,
    vch_emplusuario usuario
  </sql>
  
  <!-- Filtro de empleados -->
  <sql id="filtro_empleados">
    <where>
      <if test="codigo != null">
				AND CHR_EMPLCODIGO = #{codigo}
			</if>
      <if test="paterno != null">
				AND VCH_EMPLPATERNO LIKE #{paterno} + '%'
			</if>
      <if test="materno != null">
				AND VCH_EMPLMATERNO LIKE #{materno} + '%'
			</if>
      <if test="nombre != null">
				AND VCH_EMPLNOMBRE LIKE #{nombre} + '%'
			</if>
    </where>
  </sql>
  
  
  
  <!-- Consulta de todos los empleados -->
  <select id="getTodosEmpleados" resultType="EmpleadoBean">
    select
      <include refid="campos_empleado"/>
    from empleado
  </select>
  
  <!-- Consulta de todos los empleados -->
  <select id="getTraerEmpleados" parameterType="EmpleadoBean" resultType="EmpleadoBean">
    select
      <include refid="campos_empleado"/>
    from empleado
    <include refid="filtro_empleados"/>
  </select>
  
</mapper>
